<!DOCTYPE html>
<html>
    <head>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
        <title>Home Page</title>
    </head>
    <body> 
        <h1>Welcome to Concert Mate!</h1>
        <br>
        <%- include('partials/nav.ejs') %> 
        <br>
    </body>
</html>