<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  
  <title>Concert Details</title>
</head>

<body>
  <%- include('partials/nav.ejs') %> 
  <!-- add main tag here -->
  
  <main class="m-16">
    <div class='top_row'>
      <img id="userPP" alt="profile">
      <div class='profile_info'>
        <h1 class="text-5xl font-medium"></h1>
        <button
        class="mt-8 text-white bg-gray-400 border-0 py-2 px-8 focus:outline-none hover:bg-gray-700 rounded text-lg">Contact</button> <!-- TODO -->
        <button
        class="mt-8 text-white bg-gray-400 border-0 py-2 px-8 focus:outline-none hover:bg-gray-700 rounded text-lg">Add Friend</button> <!-- TODO -->
      </div>
  
    </div>

    <div>
      <hr class="mb-4"> <!-- a horizontal line -->
      
      <nav class='nav_row'>
        <button id="bioBtn" class="activeBtn">bio</button> 
        <button id="pConcertBtn">past concerts</button>
        <button id="upConcertBtn">upcoming concerts</button>
        <button id="friendsBtn">friends</button>
        <button id="editBtn">edit</button>
      </nav> 
      <div class='content'>
        <h2 class="mt-4 text-2xl font-medium"></h2>
        <div class='rounded-lg actual_content mt-4'>
          <!-- content to display based on nav button -->
        </div>
      </div>
    </div>
  </main>

  <template id='bio'>
    <p></p>
    <h2 class="mt-4 text-xl font-medium">favorite artists:</h2>
    <div id="f_artists">
      <!-- enter content here -->
    </div>
    <h2 class="mt-4 text-xl font-medium">favorite genres:</h2>
    <div id="f_genres">
      <!-- enter content here -->
    </div>
  </template>
  
  <template id='past_concerts'>
    <%- include('partials/card.ejs') %>
  </template>
  <template id='upcoming_concerts'>
    <%- include('partials/card.ejs') %>
  </template>
  <template id="friends">
    <%- include('partials/card.ejs') %>
  </template>
  
  <script src="/static/js/attendeeScript.js"></script>
</body>
</html>

