<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/static/css/concert.css">
  <title>Concert Details</title>
</head>

<body>
  <nav>
    Navigation Bar
  </nav>
  <div class='row'>
    <div class="concert_column">
      <!-- maybe add another div to wrap around concert into here-->
      <h1><%= name %></h1>
      <img src='https://www.rollingstone.com/wp-content/uploads/2022/01/the-weeknd-album-review.jpg?resize=1800,1200&w=1800' alt='profile'>
      <h3>Location:</h3>
      <p></p>
      <h4>Time:</h4>
      <p></p>
    </div>

    <div class='attendee_column'>
      <h1>Attendees</h1>
      <form>
        <label>Filter: </label> <!-- https://www.w3schools.com/tags/att_input_type.asp -->
        <input type="text">
      </form>
        <!-- <button id="butt" onclick="randdom()" type="button">click</button> -->
        <div class='list_of_attendees'> 
          <!-- data included here -->
        </div>
        <script>
          function randdom() {
            document.getElementById("butt").innerHTML="different click"
          }
        </script>
    </div>
  
    <template id='card'>
      <div class='card_container'>
        <img src='https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg' alt='profile'>
        <h4></h4>
        <button onclick="viewDetails()"></button>
      </div>
    </template>
  </div>

  <script>
    let name = '<%-name%>'
    console.log(name)
    const concertData = localStorage.getItem(name)
    localStorage.removeItem(name)
    const concertParsed = JSON.parse(concertData)
    console.log(concertParsed)

    // update location and time using parsed data

    function viewDetails() {
      alert("did it work")
      //document.getElementById("butt").setAttribute("href", "https://www.google.com/")
      location.href=`http://localhost:3000/concert/${name}/attendee`
    }
    
    // for each person, render a card for them to show on current doc
    fetch(`http://localhost:3000/api/v1/concert/attendees?name=${name}`)
    .then(res => res.json())
    .then(data => {
      console.log(data)

      let list = document.querySelector('.list_of_attendees')
      let card = document.querySelector('#card') // template 

      data.forEach((person) => {
        const child = card.content.cloneNode(true)
        const text = child.querySelector("h4")
        text.innerText = person.id.properties.name
        const button = child.querySelector("button") 
        button.innerText = "view details"
        
        list.appendChild(child)
      })
    })
  
  </script>

  <!-- <script src="/static/js/filterConcertScript.js"></script> -->
  <!-- 
    call query to get attendees, using concert name 
    display each attendee in a template (how to use a template to render dynamically?)
  -->
</body>
</html>