body {
    font-family: Futura;
    margin: 75px; 
  }
  
  h1, h2, h3, h4 {
    font-weight: normal; 
  }

  .top_row {
    display: flex; 
    align-items: center; /* didn't quite expect this to work */
  }

  img {
    width: 250px;
    height: 250px;
    object-fit: cover; 
    border-radius: 50%; 
    margin: 50px 50px 50px 0px;
  }

  .profile_info button {
    margin-right: 15px;
  }

  .content {
    border-style: solid;
    padding: 10px 24px 30px 24px;
    border-radius: 30px;  
    margin-top: 20px;
  }

  .profile_info button {
    font-family: Futura;
    font-size: medium;
    text-decoration: none;
    border-radius: 25px; 
    background: none;
    padding: 8px 25px 8px 25px;
  }

  .nav_row button {
    font-family: Futura;
    font-size: medium;
    text-decoration: none;
    border-style: none;
    background: none;
    padding: 10px 10px 10px 0px;
  }

  .nav_row .activeBtn {
    text-decoration: underline;
  }

  .single {
    border-style: solid;
    border-radius: 25px; 
    padding: 8px 20px;
    margin-right: 20px;
    border-radius: 25px; 
    font-family: Arial;
    font-size: small;
  }

  #bio {
    border-style: solid;
    color: red; 
  }
